@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
.whitesmoke {
  background-color: whitesmoke;
}

.nearwhite {
  background-color: rgb(255, 255, 255);
}

.blue4 {
  background-color: #04235b;
}

.blue3 {
  background-color: #063384;
}

.blue2 {
  background-color: #0854db;
}

.blue1 {
  background-color: #07729f;
}

.purple {
  background-color: #720684;
}

.yellow4 {
  background-color: #db9a08;
}

.yellow3 {
  background-color: #e8a30e;
}

.yellow2 {
  background-color: #ffd270;
}

.yellow1 {
  background-color: #efd69f;
}

.gradient1 {
  background: #43C6AC; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient2 {
  background: #FFE000; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fill-gradient1 {
  fill: #43C6AC; /* fallback for old browsers */
  fill: -webkit-linear-gradient(to right, #191654, #43C6AC); /* Chrome 10-25, Safari 5.1-6 */
  fill: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fill-blue4 {
  fill: #04235b;
}

.fill-blue3 {
  fill: #063384;
}

.fill-blue2 {
  fill: #0854db;
}

.fill-blue1 {
  fill: #07729f;
}

.fill-purple {
  fill: #720684;
}

.fill-yellow4 {
  fill: #db9a08;
}

.fill-yellow3 {
  fill: #e8a30e;
}

.fill-yellow2 {
  fill: #ffd270;
}

.fill-yellow1 {
  fill: #efd69f;
}

.fill-white svg {
  fill: white;
}

.service-cards {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.service-cards .card {
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  border: 1px;
  margin-bottom: 100px;
}
.service-cards .card .card-image {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.service-cards .card .card-image .image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
}
.service-cards .card .card-image .image-container svg {
  width: 128px;
  height: 128px;
}
.service-cards .card .card-body .title {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.service-cards .card .card-body .content {
  font-size: 1.2em;
  line-height: 1.6;
}

.navbar {
  background-color: white;
  z-index: 1000;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar .navbar-container {
  max-width: 1920px;
  width: 90vw;
  display: flex;
  justify-content: space-between;
}
.navbar .navbar-container .navbar-header img {
  width: auto;
  height: 64px;
}
.navbar .navbar-container .navbar-menu {
  display: flex;
  align-items: flex-end;
}
.navbar .navbar-container .navbar-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.navbar .navbar-container .navbar-menu ul li {
  list-style: none;
}
.navbar .navbar-container .navbar-menu ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: black;
  padding: 8px 15px;
  border-radius: 15px;
}
.navbar .navbar-container .navbar-menu ul li a:hover {
  background-color: blue;
}

.hero-banner.image-banner {
  background-image: url("../img/banner.jpg");
}

.hero-banner {
  height: calc(100vh - 68px);
  overflow-x: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.hero-banner .hero-content {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-banner .hero-content .image-container img {
  height: 256px;
}
.hero-banner .hero-content .title {
  color: #bbc4ec;
  text-align: center;
  font-size: 2.5em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.hero-banner .hero-content .content {
  color: white;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.4;
}
.hero-banner .hero-content .button-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero-banner .hero-content .button-container a {
  border-radius: 5px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  max-width: 256px;
  font-size: 1.5em;
  text-decoration: none;
  background-color: white;
  color: black;
  margin-right: 20px;
}
.hero-banner .hero-content .button-container a.blue {
  background-color: #0854dc;
  color: white;
}
.hero-banner .hero-content .button-container a:hover {
  background-color: black;
  color: white;
}

.hero-banner.half {
  justify-content: flex-start;
}
.hero-banner.half .hero-content {
  width: 100%;
  height: 100%;
  gap: 30px;
}
.hero-banner.half .hero-content .image-container.s-25 {
  width: 25%;
}
.hero-banner.half .hero-content .image-container.s-25 img {
  width: 100%;
  height: auto;
}
.hero-banner.half .hero-content .image-container {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
.hero-banner.half .hero-content .image-container img {
  width: 100%;
  height: auto;
}
.hero-banner.half .hero-content .title {
  color: white;
  text-align: center;
  font-size: 2.5em;
}
.hero-banner.half .hero-image {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.hero-banner.half .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.divider-curve {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider-curve svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 150px;
}

.divider-curve .shape-fill {
  fill: white;
}

.relative-divider-curve {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.relative-divider-curve svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 127px;
}

.relative-divider-curve .shape-fill {
  fill: #FFFFFF;
}

.divider-container {
  height: 1px;
}

.triangle-divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.triangle-divider .shape-fill {
  fill: #FFFFFF;
}

.neo-in {
  background: white;
  border-radius: 20px;
  box-shadow: inset 5px 5px 5px -1px rgba(2, 32, 56, 0.16), inset -5px -5px 5px -1px rgba(230, 230, 230, 0.7);
}

.neo-out {
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(230, 230, 230, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.container {
  max-width: 1500px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}/*# sourceMappingURL=styles.css.map */