$blue4: #04235b;
$blue3: #063384;
$blue2: #0854db;
$blue1: #07729f;
$purple: #720684;
$yellow4: #db9a08; 
$yellow3: #e8a30e;
$yellow2: #ffd270;
$yellow1: #efd69f;


.whitesmoke{
    background-color: whitesmoke;
}
.nearwhite{
    background-color: rgb(255, 255, 255);
}
.blue4{
    background-color: $blue4;
}
.blue3{
    background-color: $blue3;
}
.blue2{
    background-color: $blue2;
}
.blue1{
    background-color: $blue1;
}
.purple{
    background-color: $purple;
}
.yellow4{
    background-color: $yellow4;
}
.yellow3{
    background-color: $yellow3;
}
.yellow2{
    background-color: $yellow2;
}
.yellow1{
    background-color: $yellow1;
}

.gradient1{
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient2{
    background: #FFE000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #799F0C, #FFE000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #799F0C, #FFE000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.fill-gradient1{
    fill: #43C6AC;  /* fallback for old browsers */
    fill: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    fill: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fill-blue4{
    fill: $blue4;
}
.fill-blue3{
    fill: $blue3;
}
.fill-blue2{
    fill: $blue2;
}
.fill-blue1{
    fill: $blue1;
}
.fill-purple{
    fill: $purple;
}
.fill-yellow4{
    fill: $yellow4;
}
.fill-yellow3{
    fill: $yellow3;
}
.fill-yellow2{
    fill: $yellow2;
}
.fill-yellow1{
    fill: $yellow1;
}
.fill-white{
    svg{
        fill: white;
    }
}
