
$mobile-navbar-width: 300px;

.navbar{
    background-color: white;
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .navbar-container{
        max-width: 1920px;
        width: 90vw;
        display: flex;
        justify-content: space-between;
        .navbar-header{
            img{
                width:auto;
                height: 64px;
            }
        }
        .navbar-menu{
            display: flex;
            align-items: flex-end;
            ul{
                display: flex; 
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 0.5rem;
                list-style: none;
                li{
                    list-style: none;
                    text-decoration: none;
                    a{
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 1.2em;
                        color: black; 
                        padding-top: 26px;
                        padding-bottom: 8px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                    a:hover{
                        border-top: 3px solid black;
                    }
                }
            }
        }
        .hamburger-toggle{
            font-size: 64px;
            display: none;
        }
        .mobile-menu{

        }
    }
}
.navbar-mobile{
    position: fixed;
    z-index: 10;
    top: 64px;
    left: -$mobile-navbar-width;
    width: $mobile-navbar-width;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: left 0.5s;

    &.active{
        left: 0;
        transition: left 0.5s;
    }
    .menu-mobile{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        ul{
            list-style: none;
            li{
                height: 40px;
                margin-top: 10px;
                font-size: 1.5em;
                border-bottom: 2px solid gray;
                a{
                    padding: 5px;
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    background-color: rgb(197, 197, 197);
                    border-radius: 10px;
                }
            }
        }
    }

}

@media (max-width: 1000px){
    .navbar{
        .navbar-container{
            .navbar-menu{
                display: none;
            }
            .hamburger-toggle{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}