.neo-in{
    border-radius: 20px;
    box-shadow: inset 3px 3px 3px -1px rgba(2, 32, 56, 0.16), 
                inset -3px -3px 3px -1px rgba(230, 230, 230, 0.70);
}
.neo-out{
    border-radius: 20px;
    box-shadow: 3px 3px 3px -1px rgba(10, 99, 169, 0.16), 
                -3px -3px 3px -1px rgba(230, 230, 230, 0.70);
}