@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@import 'components/colors';
@import 'components/cards';
@import 'components/navbar';
@import 'components/heroes';
@import 'components/svg-dividers';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;;
}

.container{
    max-width: 1500px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

