@import 'components/colors';
@import 'components/navbar';
@import 'components/svg-dividers';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1500px;
}
section{
    width: 99vw;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.hero-banner{
    display: block;
    height: calc(100vh - 68px);
    overflow-x: hidden;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    .hero-image-container{
        width: 100%;
        height: 100%;
        z-index: -10;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .hero-body{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;  
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image-container{
            img{
                height: 256px;
           }
        }
        .title{
            color: #bbc4ec;
            text-align: center;
            font-size: 2.5em;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 5px;
            border-radius: 5px;
        }
        .button-container{
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            a{
                border-radius: 5px;
                font-weight: 500;
                text-transform: uppercase;
                padding: 20px;
                max-width: 256px;
                font-size: 1.5em;
                text-decoration: none;
                background-color: white;
                color: black;
                margin-right: 20px;
            }
            a.blue{
                background-color: #0854dc;
                color: white;
            }
            a:hover{
                background-color: black;
                color: white;
            }
        }
    }
}
.service-cards{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .card{
        width: 400px;
        border: 1px;
        margin-bottom: 100px;
        .card-image{
            display: flex;
            justify-content: center;
            .image-container{
                width: 200px; 
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 50%;
                svg{
                    width: 128px; 
                    height: 128px;
                }
            }
        }
        .card-body{
            .title{
                font-size: 1.2em;
                margin-bottom: 20px;
                text-align: center;
            }
            .content{
                font-size: 1em;
                line-height: 1.6;
            }
        }        
    }
    
}



