@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@import 'components/colors';
@import 'components/texts';
@import 'components/cards';
@import 'components/navbar';
@import 'components/heroes';
@import 'components/svg-dividers';
@import 'components/neomorphism';
@import 'components/button';
@import 'components/footer';
@import 'components/flex';
@import 'components/grid';
@import 'components/margins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;;
}

.container{
    max-width: 1500px;
}
.full-width{
    width: 100%;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-50{
    margin-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
.mt-150{
    margin-top: 150px;
}
.column-direction{
    flex-direction: column;
}
section{
    width: 100%;
    overflow-x: hidden;
}

